body {
  background-color: #005470;
}

h1 {
  font-family:arial;
  font-style:normal;
  color: black;
  text_decoration:underline;
  text-align:center;
}

h3 { color: red; }

.encadrer-un-contenu {
  border: 3px solid #054666;
  background-color:#007399;
margin-top: 3%;
margin-left: 40%;
margin-right: 40%;
margin-bottom:0%;
}
