h1
{ font-family:arial;
  font-style:normal;
  color: black;
  text_decoration:underline;
  text-align:center;
  margin: 10% 0 0 100px;
}

h3 { color: red; }
.encadrer-un-contenu{
  border: 5px solid black; 
  padding: 30px;

  background-color:#00ffff;
  
} 
